@media (max-width: 992px) /*hasta 768px*/ {
    .logo{
        height: 75%;
    }
    .navbar-list {
        gap: 0px 18px;
    }
    .hero-info h1 {
        font-size: 22px;
    }
    .hero-info p {
        font-size: 14px;
    }
    .boton {
        width: 80px;
    }
    .boton a {
        font-size: 13px;
    }
    #cards{
        gap: 35px;
    }
    .card1-info {
        gap: 12px;
    }
    .card1-info h3{
        font-size: 16px;
    }
    .card1-info p {
        font-size: 15px;
    }
    #contact{
        height: 415px;
    }
    .contact-info h2 {
        font-size: 24px;
    }
    .footer img {
        height: 75%;
    }
}

@media (max-width: 768px) /*hasta 576px*/ {

}

@media (max-width: 576px) /*hasta 320px*/ {

} 
