* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header {
    display: flex;
    max-width: 1400px;
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    z-index: 3;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cart {
    position: absolute;
    top: 100px;
    right: 0;
    padding: 10px 25px 30px 25px;
    background: whitesmoke;
    border-left: 2px solid rgb(69, 38, 180);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    z-index: 2;
    transform: translateX(200%);
    transition: all 0.5s ease-in-out;
    font-family: tahoma;
}
.cart::-webkit-scrollbar {
    display: none;
}
.cart-label i::before {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
    margin-right: 25px;
    margin-left: 25px;
}
.cart-label i:hover {
    color: rgb(233, 114, 35);
    transition: all 0.2s ease-out;
}
.cart h2 {
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
    color: #131415;
}
.cart-item {
    display: flex;
    gap: 15px;
    background-color: lightgray;
    border: 1px solid rgb(69, 38, 180);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px #131415;
}
.cart-item img {
    height: 100px;
    width: 150px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    gap: 8px;
    color: #131415;
}
.item-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}
.quantity-handler {
    border: 1px solid #131415;
    border-radius: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.quantity-handler:hover {
    background: rgb(233, 114, 35);
    transition: all 0.2s ease-out;
}
.item-price{
    font-weight: 600;
}
.divider {
    border: 1px solid rgb(69, 38, 180);
    margin-top: 15px;
}
.cart-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-total p {
    font-size: 18px;
    font-weight: 600;
    color: #131415;
}
.cart-total span {
    font-size: 20px;
    color: rgb(69, 38, 180);
}
.cart button {
    background: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    box-shadow: 3px 3px 5px #131415;
    color: rgb(69, 38, 180);
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.cart button:hover {
    color: #131415;
    background: rgb(233, 114, 35);
    transition: all 0.2s ease-out;
}

#menu-toggle,
#cart-toggle,
.menu-label {
    display: none;
}
#cart-toggle:checked + .cart {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
}
#cart-toggle:checked ~ .overlay {
    display: block;
}
#menu-toggle:checked ~ .overlay {
    display: block;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar a {
    display: flex;
    color: #131415;
    font-family: tahoma;
    font-size: 15px;
    font-weight: 500;
}
.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 30px;
    transition: all 0.8s;
}
.navbar-list li a:hover {
    transition: all 0.8s;
    color: rgb(233, 114, 35);
}

#hero {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    gap: 10px;
    background-image: url(./img/muralla.jpeg);
    background-size: cover;
}
.gradient-bg {
    width: 100%;
    height: 100vh;
    background: linear-gradient(transparent 80%,whitesmoke 100%);
    position: absolute;
}
.hero-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    z-index: 2;
}
.hero-info h1 {
    font-family: tahoma;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1px;
    background: linear-gradient(rgb(69, 38, 180) 0%, #131415 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.hero-info p {
    font-family: tahoma;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    background: linear-gradient(#131415 0%, rgb(69, 38, 180) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.hero-btn {
    display: flex;
    padding: 20px;
    gap: 20px;
    z-index: 2;
}
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    border: #131415 solid 2px;
    height: 35px;
    width: 90px;
    cursor: pointer;
    font-family: cursive;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s ease-in;
    box-shadow: 3px 3px 5px #333333;
}
.boton:hover {
    transition: all 0.5s ease-out;
    background-color: rgb(211, 211, 211);
    box-shadow: 3px 3px 5px rgb(69, 38, 180);
}
.boton a {
    color: #131415;
}

#about-us {
    max-width: 1400px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 15px;
}
.about-us-title {
    font-family: tahoma;
    font-style: italic;
    font-size: 22px;
    font-weight: 600;
    background: linear-gradient(rgb(69, 38, 180) 0%, #131415 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 5px;
}
.about-us-text {
    font-family: verdana;
    font-size: 14px;
    font-weight: 400;
    width: 85%;
    color: #333333;
}

#cards {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 25px;
    gap: 25px;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}
.card1 {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card1 img {
    height: 50%;
    width: 50%;
    border-radius: 1rem;
    box-shadow: #131415 3px 3px 10px;
}
.card1-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.card1-info h3 {
    font-family: tahoma;
    font-size: 20px;
    color: #131415;
    border-left: 3px solid rgb(233, 114, 35);
    padding-left: 7px;
}
.card1-info p {
    font-family: Georgia;
    font-size: 16px;
    color: #131415;
}
.card1-info p span {
    font-size: 20px;
    font-weight: 600;
    color: rgb(233, 114, 35);
}
.card-boton {
    display: flex;
    gap: 25px;
}
.card2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card2 img {
    height: 50%;
    width: 50%;
    border-radius: 1rem;
    box-shadow: #131415 3px 3px 10px;
}

#contact {
    display: flex;
    background-color: whitesmoke;
    background-image: url(./img/img-contact/bg-contact2.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1400px;
    width: 100%;
    height: 520px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    color: #131415;
    padding: 5px;
    gap: 40px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 35%;
}
.contact-info h2{
    font-family: "tahoma";
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-style: italic;
    color: #131415;
    text-shadow: 1px 1px 3px rgb(233, 114, 35);
}
.contact-info-datos h4 {
    font-family: "Georgia";
    font-size: 20px;
    padding: 10px;
}
.contact-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    
}
.contact-list li {
    font-family: "Georgia";
    font-size: 16px;
}
.fa-location-dot{
    font-size: 22px;
    padding-right: 5px;
    color: rgb(231, 18, 18);
}
.fa-envelope{
    font-size: 22px;
    padding-right: 5px;
    color: #333333;
}
.fa-whatsapp{
    font-size: 22px;
    padding-right: 5px;
    color: rgb(15, 121, 33);
}
.redes {
    display: flex;
    padding: 20px;
    gap: 25px;
}
.redes a {
    display: flex;
    font-size: 30px;
    transition: all 0.2s linear;
    color: rgb(233, 114, 35);
}
.redes a:hover {
    transform: scale(1.2);
    transition: all 0.2s linear;
    color: rgb(189, 90, 25);
}
iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 400px;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px #131415;
}
#footer {
    background-color: rgb(93, 3, 103);
    height: 100px;
    max-width: 1400px;
    width: 100%;
}
.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 25px 0px 25px;
}
.footer img {
    height: 100%;
}
.footer p {
    border-radius: 5px;
    border-left: 2px solid rgb(233, 114, 35);
    border-right: 2px solid whitesmoke;
    padding: 5px 15px 5px 15px;
    font-family: georgia;
    font-size: 15px;
    color: whitesmoke;
}
.footer p span {
    font-family: tahoma;
    font-weight: 600;
    font-size: 18px;
    color: rgb(233, 114, 35);
}
